.place__item {
  display: grid;
  grid-template-areas:
    "title website"
    "image paragraph";
  column-gap: 40px;
  row-gap: 48px;
}

@media all and (max-width: 1024px) {
  .place__item {
    column-gap: 32px;
  }
}

@media all and (max-width: 768px) {
  .place__item {
    column-gap: 28px;
  }
}

@media all and (max-width: 490px) {
  .place__item {
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraph";
    gap: 32px;
  }
}
