.place {
  padding: 0;
  list-style: non;
  max-width: 984px;
  margin: 92px 148px 0;
  display: grid;
  grid-template-columns: 100%;
  gap: 80px;
}

@media all and (max-width: 1024px) {
  .place {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media all and (max-width: 768px) {
  .place {
    margin-top: 88px;
    margin-left: 24px;
    margin-right: 24px;
    gap: 73px;
  }
}

@media all and (max-width: 320px) {
  .place {
    margin-top: 64px;
    margin-left: 0;
    margin-right: 0;
    gap: 50px;
  }
}
