.footer {
  margin: 92px 48px 24px;
  padding: 0;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
}

@media all and (max-width: 720px) {
  .footer {
    margin-top: 64px; 
    margin-left: 16px;
    margin-right: 16px;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 1fr;
  }
}
